.row1{
    width: 100%;
}
header{
    width: 100%;
}
.wood{
    color:rgb(75, 26, 26);
    margin-left: 100px;
}
h5{
    color:rgb(75, 26, 26);
    margin-top:10px;
    margin-left: 18px;
}
svg{
    margin-top: 15px;
    margin-left: 33px;
}
.row2{
    width: 100%;
    margin-top: 350px;
}
.collar{
    text-align: center;
}
.row3{
    width: 100%;
    text-align: center;
} 
.row4{
    width: 100%;
}  
.form{
    margin-top: 10px;
    margin-left: 50px;
    width: 100%;
} 
input{
    width: 80%;
    height: 40px;
    margin-top: 10px;
    margin-left: -10px;
}
.word{
    color:rgb(75, 26, 26);
    margin-top:10px;
    margin-left: 18px;
}